<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class='start'>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </span>
    <span class='middle'>NGRX-Helmet</span>
    <span class='end'><a mat-raised-button routerLink="/">Docs</a></span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" mode="side">
    <mat-nav-list>
      <a mat-list-item routerLink="/">Docs</a>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Root Routes
          </mat-panel-title>
        </mat-expansion-panel-header>
        <a mat-list-item routerLink="/static-content">Static Content</a>
        <a mat-list-item routerLink="/dynamic-content">Dynamic Content</a>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            First-Child Routes
          </mat-panel-title>
        </mat-expansion-panel-header>
        <a mat-list-item routerLink="/sub-route/static-content">Static Content</a>
        <a mat-list-item routerLink="/sub-route/dynamic-content">Dynamic Content</a>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Second-Child Routes
          </mat-panel-title>
        </mat-expansion-panel-header>
        <a mat-list-item routerLink="/sub-route/sub-route/static-content">Static Content</a>
        <a mat-list-item routerLink="/sub-route/sub-route/dynamic-content">Dynamic Content</a>
      </mat-expansion-panel>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
